table {
    border-collapse: collapse;
}

th {
    border: 2px solid green;
    padding:10px;
    background-color: orange;
}

td {
    border: 2px solid green;
    padding:10px;
    text-align: center;
}